{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="border mx-5 rounded">
  <div class="card-header">
  	<div class="row">
  		<div class="col-10">
  			<h3> {{ place.name }} </h3>
  		</div>
  		<div class="col-2" id="favorite-section">
  			{% csrf_token %}
  			<form method="post" action="{% url 'manage_favorites' %}" class="fav-form">
				{% if place.is_favorite %}
				<button type="submit" class="btn"  id="{{place.id}}">
					<span name="fav" class="fas fa-heart fa-lg" id="{{place.id}}"></span>
				</button>	
				{% else %}
				<button type="submit" class="btn"  id={{place.id}}>
					<span name="fav" class="far fa-heart fa-lg" id="{{place.id}}"></span>
				</button>	
				{% endif %}				
			</form>				
  		</div>	
  	</div>
    
    <h5> {{ place.address }} </h5>
  </div>
	<div class="m-3">	
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a href="#infos" class="nav-link active" role="tab" data-toggle="tab">Informations générales</a>
			</li>
			<li class="nav-item">
				<a href="#comments" class="nav-link" role="tab" data-toggle="tab">Avis SITE</a>
			</li>			

			<li class="nav-item">
				<a href="#reviews" class="nav-link" role="tab" data-toggle="tab">Commentaires Google</a>
			</li>

		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="infos">
			  <div class="card-body">
			  	<div class="row">
			  		<div class="col-6">
							<div class="d-inline-flex mb-4">
						  	{% if place.is_open %}
									<p class="card-text bg-success text-white rounded px-2">Ouvert</p>
								{% else %}
									<p class="card-text bg-danger text-white rounded px-2">Fermé</p>
								{% endif %}	
							</div>
							<p class="mb-4"> <i class="fas fa-phone-alt mr-3"></i> {{place.phone}} </p>
							<div>
								{% for datetime in place.opening_hours %}
								<div class="row">
									<div class="col-3">{{datetime.day}}</div>
									<div class="col-9">{{datetime.hours}}</div>						
								</div>
								{% endfor %}					
							</div>	
			  		</div>
			  		<div class="col-6" id="map" style=" height: 30rem; width: 30rem"></div>
			  	</div>
			  </div>				
			</div>
			<div role="tabpanel" class="tab-pane" id="comments">
				{% if place.comments %} 
					{% for comment in place.comments %}
					<div class="row">
					  <div class="card-body">
					    <h5 class="card-title">{{ comment.user }}</h5>
					    <p>{{ comment.date_added }}</p>
					    <p>{{ comment.body }}</p>
					    <p> __________________ </p>
		   			</div>
					</div>					
					{% endfor %}
				{% else %}
					<p class="mt-3"> Il n'y a pas encore de commentaire ! </p>
					<form action="{% url 'add_comment' %}" method="get" class="mb-4">
						<input type="hidden" name="id" value={{place.id}}>
						<input class="btn btn-primary" type="submit" value="Ajouter un commentaire">
					</form>
				{% endif %}	
			</div>
			<div role="tabpanel" class="tab-pane" id="reviews">
				{% for review in place.reviews %}
				<div class="row">
				  <div class="card-body">
				    <h5 class="card-title">{{ review.author_name }} - {{ review.rating }}</h5>
				    <p>{{review.relative_time_description }}</p>
				    <p>{{ review.text }}</p>
				    <p> __________________ </p>
	   			</div>
				</div>					
				{% endfor %}
			</div>
		</div>
	</div>  

</div>



<script lat="{{ place.coordonates.lat }}",
		lng="{{ place.coordonates.lng }}",
		my_lat="{{ my_lat }}",
		my_lng="{{ my_lng }}",
		id="map_script">
	let script = document.getElementById('map_script')
	let lat = parseFloat(script.getAttribute('lat'))
	let lng = parseFloat(script.getAttribute('lng'))
	let my_lat = parseFloat(script.getAttribute('my_lat'))
	let my_lng = parseFloat(script.getAttribute('my_lng'))

	function initMap(){
		var options = {
			zoom: 15,
			center:{lat:lat, lng:lng}
		}
		var map = new google.maps.Map(document.getElementById('map'), options)

		var my_marker = new google.maps.Marker({
			position: {lat: my_lat, lng: my_lng},
			map:map
		})
		var marker = new google.maps.Marker({
			position: {lat:lat, lng:lng},
			map:map
		})
	}
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD7JddiwdM6f2evoQK8sr4KaUnWdL25z4&callback=initMap">
</script>


{% endblock %}