{% extends "base.html" %}
{% load static %}

{% block body_content %}

<header class="masthead">
    <div class="row h-100 align-items-center justify-content-center text-center" id="home-page">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold"> (Re)découvrez votre quartier ! </h1>
            <hr class="divider my-4" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">Restaurants, boulangeries, primeurs, poissoniers ... votre quartier n'aura plus aucun secret pour vous !</p>
            <form action="{% url 'search_results' %}" method="get">
                <input id="autocomplete" name="q" type="text" placeholder="Saisissez une adresse..." class="border-0 rounded p-1" required>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajouter un filtre
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <input type="checkbox" name="restaurants" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Restaurants
                        </label>
                        <input type="checkbox" name="supermarkets" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Supermarchés
                        </label>
                        <input type="checkbox" name="bakeries" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Boulangeries
                        </label>            
                    </div>
                </div>                  
                <input type="submit" value="Rechercher" class="btn btn-primary">                
            </form>

        </div>
    </div>
</header>

<script>
    function activatePlacesSearch() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx9NVYqZOHAOjsFF6GeCS11052CqDcunI&libraries=places&callback=activatePlacesSearch">
</script>

{% endblock %}

